/* Sass Document */

/* Front Page */
.front-page {
	text-align:center;
}
h1.name {
	text-transform:uppercase;
	font-size:43px;
	margin: 0px;
	padding: 0 0 15px 0;
}
.short-border {
	width:85px;
	border-bottom:2px solid grey;
	margin: 0 auto 20px auto;
	padding: 0;
}
.title {
	font-size:16px;
	margin-bottom: 35px;
	text-transform:uppercase;
}
.nav-button {
	display:inline-block;
	border: 2px solid black;
	padding: 8px 18px;
	
	&:hover {
		cursor:pointer;
	}
	
	&:not(:first-child) {
		margin-right: 10px;
	}
	
	.nav-button-text {
		text-transform:uppercase;
		font-size: 16px;
	}
}